<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.criiky0.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.criiky0.pojo.Comment">
        <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="brief" column="brief" jdbcType="VARCHAR"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="belongCommentId" column="belong_comment_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="blogId" column="blog_id" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="CommentDTOResultMap" type="commentDTO">
        <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="brief" column="brief" jdbcType="VARCHAR"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
        <result property="belongCommentId" column="belong_comment_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="blogId" column="blog_id" jdbcType="BIGINT"/>
        <!-- Self association for subComments -->
        <collection property="subComments" ofType="commentDTO" column="comment_id" select="selectSubComment"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,content,likes,
        username,brief,create_at,
        version,deleted,belong_comment_id,
        user_id,blog_id
    </sql>

    <select id="selectCommentDTOsOfBlog" resultMap="CommentDTOResultMap">
        select *
        from comment
        where blog_id = #{blogId}
        and belong_comment_id is null
        and deleted = 0
        <include refid="com.criiky0.mapper.BlogMapper.query_map"/>
        <if test="sort != null and sort == 'create_at'">
            order by create_at desc
        </if>
        <if test="sort != null and sort == 'likes'">
            order by likes desc
        </if>
    </select>

    <select id="selectSubComment" resultMap="CommentDTOResultMap">
        select *
        from comment
        where belong_comment_id = #{commentId}
          and deleted = 0;
    </select>
</mapper>
