<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.criiky0.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="com.criiky0.pojo.Image">
            <id property="imageId" column="image_id" jdbcType="BIGINT"/>
            <result property="endpoint" column="endpoint" jdbcType="VARCHAR"/>
            <result property="bucket" column="bucket" jdbcType="VARCHAR"/>
            <result property="uploadAt" column="uploadAt" jdbcType="TIMESTAMP"/>
            <result property="photoTime" column="photoTime" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        image_id,endpoint,bucket,
        uploadAt,photoTime,version,
        deleted,user_id
    </sql>
</mapper>
