<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.criiky0.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.criiky0.pojo.Menu">
        <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="color" column="color" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="active" column="active" jdbcType="INTEGER"/>
        <result property="belongMenuId" column="belong_menu_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,title,icon,
        color,level,sort,
        version,active,belong_menu_id,
        user_id
    </sql>

    <select id="findMaxSort" resultType="java.lang.Integer">
        select max(sort) as max_sort from menu
        <where>
            <choose>
                <when test="belongMenuId != null">
                    and belong_menu_id = #{belongMenuId} and deleted = 0;
                </when>
                <otherwise>
                    and level = 1 and deleted = 0;
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findParentLevel" resultType="java.lang.Integer">
        <choose>
            <when test="belongMenuId != null">
                select level from menu
                where menu_id = #{belongMenuId} and deleted = 0;
            </when>
            <otherwise>
                select null;
            </otherwise>
        </choose>
    </select>

    <select id="selectTopLevelMenuOfCriiky0" resultType="menuDTO">
        select *
        from menu
        where user_id =
              (select user_id from user where username = 'criiky0')
          and level = 1 and deleted = 0;
    </select>

    <select id="selectSubMenu" resultType="menuDTO">
        select * from menu
        where belong_menu_id = #{menuId} and deleted = 0;
    </select>


</mapper>
