<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.criiky0.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.criiky0.pojo.Menu">
        <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="color" column="color" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="belongMenuId" column="belong_menu_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BlogDTOResultMap" type="blogDTO">
        <!-- assume you have fields like blogId, title, content in your BlogDTO -->
        <id property="blogId" column="blog_id"/>
        <result property="title" column="title"/>
        <result property="sort" column="sort"/>
        <result property="createAt" column="create_at"/>
        <!-- Other fields -->
    </resultMap>

    <resultMap id="MenuDTOResultMap" type="menuDTO">
        <id property="menuId" column="menu_id"/>
        <result property="title" column="title"/>
        <result property="icon" column="icon"/>
        <result property="color" column="color"/>
        <result property="level" column="level"/>
        <result property="sort" column="sort"/>
        <result property="belongMenuId" column="belong_menu_id"/>
        <result property="userId" column="user_id"/>
        <result property="createAt" column="create_at"/>
        <!-- Collection for blogs -->
        <collection property="blogs" ofType="blogDTO" column="menu_id" select="selectBlogsByMenu"/>
        <!-- Self association for subMenu -->
        <collection property="subMenu" ofType="menuDTO" column="menu_id" select="selectSubMenus"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,title,icon,
        color,level,sort,
        version,deleted,belong_menu_id,
        user_id,create_at
    </sql>


    <select id="findMaxSort" resultType="java.lang.Integer">
        select max(sort) as max_sort from menu
        <where>
            <choose>
                <when test="belongMenuId != null">
                    and belong_menu_id = #{belongMenuId} and deleted = 0;
                </when>
                <otherwise>
                    and level = 1 and deleted = 0;
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findParentLevel" resultType="java.lang.Integer">
        <choose>
            <when test="belongMenuId != null">
                select level from menu
                where menu_id = #{belongMenuId} and deleted = 0;
            </when>
            <otherwise>
                select null;
            </otherwise>
        </choose>
    </select>

    <select id="selectTopLevelMenuOfCriiky0" resultMap="MenuDTOResultMap">
        select *
        from menu
        where user_id =
              (select user_id from user where username = 'criiky0')
          and level = 1
          and deleted = 0
        order by sort asc;
    </select>

    <select id="selectSubMenu" resultType="menuDTO">
        select *
        from menu
        where belong_menu_id = #{menuId}
          and deleted = 0
        order by sort asc;
    </select>

    <select id="selectMenuDTO" resultType="menuDTO">
        select *
        from menu
        where menu_id = ${menuId}
          and deleted = 0
        order by sort asc;
    </select>

    <select id="selectBlogs" resultType="blogDTO">
        select *
        from blog
        where menu_id = #{menuId}
          and deleted = 0
        order by sort asc;
    </select>

    <!-- Select main menu and start recursion for sub menus -->
    <select id="selectMenuWithDetails" resultMap="MenuDTOResultMap">
        SELECT *
        FROM menu
        WHERE menu_id = #{menuId}
          and deleted = 0;
    </select>

    <!-- Recursively select sub menus -->
    <select id="selectSubMenus" resultMap="MenuDTOResultMap">
        SELECT *
        FROM menu
        WHERE belong_menu_id = #{menuId}
          and deleted = 0;
    </select>

    <!-- Select blogs by menu -->
    <select id="selectBlogsByMenu" resultMap="BlogDTOResultMap">
        SELECT *
        FROM blog
        WHERE menu_id = #{menuId}
          and deleted = 0;
    </select>

</mapper>
